<div class="container__small-card">
    <div class="container__small-card__content">
        <div class="small-card__photo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzZKOH11jC9l6WnXImA2DHRfnuBUIIOBSmVQ&s" 
            alt=""
            width=""
            height="">
        </div>
        <div class="small-card__title">
            <h1><a href="#">Sandero é demais</a></h1>
        </div>
    </div>
    
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>